 /* Estilo geral da página */  
 body { 
    font-family: Arial, sans-serif;
    background: linear-grandiet(to bottom, #8ec5fc, #e0c3fc);
    margin: 0;
    padding: 20px;
    color: #222;
}

/* Área principal do conteúdo */
.container {
    max-width: 900px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.2);
}

/* Títulos*/
h1 {
    text-align: center;
    color: #0d47a1;
    font-size: 40px;  
}

h2 {
    color: #1a237e;
    border-bottom: 2px solid #3949ab;
    padding-bottom: 5px;
}

/* Parágrafo */
p {
    text-align: justify;
    line-height: 1.6;
    font-size: 18px;;
}

/* Lista de filmes */
ul {
    font-size: 18px;
}

li {
    margin-bottom: 5px;
}

/* Texto destacado */
mark {
    background-color: yellow;
    padding: 2px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

table, th, td {
    border: 1px solid #333;
}

th {
   background-color: white;
   color: black ;
}

td {
    padding: 8px;
    text-align: center;
}

/* Responsabilidade */
img {
    max-width: 100%;
    height: auto;
}